body {
    background-color: hsl(47, 88%, 63%);
    margin: 100px 0 100px 0;

}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    width: 390px;
    border-radius: 20px;
}

.image {
    display: flex;
    flex-direction: column;

    
}
.image>img {
    align-items: center;
    height: 200px;
    width: 340px;
}

img {
    border-radius: 10px;
}

.learning>h1 {
    padding: 1px;
    margin: 8px 300px 0 31px;
    background-color: hsl(47, 88%, 63%);
    font-size: small;
    text-align: center;
    height: 20px;
    border-radius: 3px;
    width: bolder;
}

h2 {
    font-size: large;
    font-weight: 300;
    margin: 10px 0 0 31px;
}

h3 {
    margin: 16px 0 0 31px;
}

p {
    margin: 16px 0 0 31px;
}
.person-image {
    display: flex;
    flex-direction: row;
    margin: 16px 0 20px 31px;
}

.person-image>h1 {
    margin: 6px 0 6px 15px;
    font-size: small;
    border-radius: 3px;
    width: bolder;
    align-items: center;
}
.person-image>img {
    height: 30px;
    width: 30px;
}
